html {
	background-color: #c3c3c3;
	font-family: 'MS Sans Serif', 'Tahoma', sans-serif;
}

body {
	width: 75vw;
	height: 100vh;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	background-color: #008080;
	display: flex;
  	justify-content: center;
  	align-items: center;
}